#navbar{
    background:#307D7E;
    width:100%;
  }
  #nav-item{
    color: white;
  }
  .dropdown-item{
    color: white;
  
  }
  #navbarDropdown{
  
    color: white;
  
  }
  .nav-link{
    color: white;
    
    
  }
  .nav-link{
    margin-left:10px;
    
  }
  
  
#forumButton:hover{
    color:black;
  }
#summaryButton:hover{
    color:black;
  }

#trendButton:hover{
    color:black;
  }

#registerForm{
  margin-top:10%;
}
#videoListButton:hover{
    color:black;
  }
  #signUpButton:hover{
    color:black;
  }
  
  #loginButton:hover{
    color:black;
  }
  .nav-item{
    color: white;
  
  }
  .nav-link btn btn-outline-light my-2 my-sm-0 :focus {
    background-color: #FFFF00;
    color: #FFC0CB;
}
  a{

    color:white;
    font-family: 'IBM Plex Sans', cursive;
    font-size:large;
  
    

  };
  a.hover{
    color:black;
  };
  h1{
    text-align: center;
  }
  
  #responsivelist{
    visibility: visible;}
  .card{
    align-content: center;
    text-align: center;
  
  }
  
  .navbar-brand{
  font-family:  'Montserrat Alternates', sans-serif;
  color:white;
  
  
  }
  .card{
    border-radius: 3%;
    border: solid black;
  }
  
  
  
  h3{
    text-align: center;
    font-family: 'Comfortaa', cursive;
  }
  
  
  
  .navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
   
  }

  #books{
    border: 3px solid grey;
    border-radius: .25rem;
    padding-top:2%;
    margin-top: 2%;
    height:280px;
  }
  #summary{
    border: 1px solid grey;
    border-radius: .25rem;
    margin-top: 3%;
    
  }

  #form{
    margin-top: 5%;
    width:50%;
  }

  #form2{
    margin-top: 5%;
    width:50%;
  }

  #registerForm{
    border: 1px grey solid;
    border-radius: 10px;
    width:50%;
  }
  

  #videoList{
    margin-left:25%;
  }