<!DOCTYPE html>
<!-- <script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="204482076076-rtvfe742tkddgmcg89lelemhml5v5i4e.apps.googleusercontent.com">
<div class="g-signin2" data-onsuccess="onSignIn"></div> -->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <iframe width="420" height="315"
    src="https://www.youtube.com/embed/tgbNymZ7vqY">
    </iframe>
    <h2>GEO API</h2>
    <form method="POST" action='{% url "home4" %}'id='signup'>
      {% csrf_token %}
        <div class="form-group">
          <label for="exampleFormControlInput1">youtubevideolink</label>
          <input type="text" name='movieName' class="form-control" id="exampleFormControlInput1" placeholder="Fill in here..">
        </div>
        
        
        </div>
        <button type="submit" class="btn btn-primary">Enter</button>
      </form>
        
  <p><strong>{{ FilmName }}</strong></p>
  <p><strong>{{ FilmPlot }}</strong></p>
</body>
</html>