<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>GEO API</h2>
    <form method="POST" action='{% url "home" %}'id='signup'>
      {% csrf_token %}
        <div class="form-group">
          <label for="exampleFormControlInput1">What framework/technology/concept you want to learn?</label>
          <input type="text" name='techName' class="form-control" id="exampleFormControlInput1" placeholder="Fill in here..">
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Select the number of sentences</label>
          <select name='sentenceNumber' class="form-control" id="exampleFormControlSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Select the language</label>
          <select name='language' class="form-control" id="exampleFormControlSelect1">
            <option>Azerbaycan dili</option>
            <option>English</option>
            <option>Russian</option>
            <option>French</option>
            
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Enter</button>
      </form>
        
  <p><strong>{{ title }}</strong></p>
</body>
</html>